<div class="hero min-h-screen bg-cover bg-center" style="background-image: url(<%= image_url('album-1866523.jpg') %>);">
  <div class="hero-overlay bg-opacity-60"></div>
  <div class="hero-content text-center text-primary-content">
    <div class="max-w-md">
      <h1 class="mb-5 text-5xl font-black text-primary">About "Mutro"</h1>
      <p class="mb-5 text-primary-content">
        Mutro（ミュトロ）は<br>
        「音楽とゆっくり向き合う」ことを目的とした<br>
        プレイリスト投稿・共有サービスです。<br><br>
        "みんなに知ってほしい曲を詰め込んだプレイリスト"<br>
        "聴いてほしいシチュエーションをイメージしたプレイリスト"<br>
        "思い出の曲を詰め込んだプレイリスト"<br><br>
        いつもより少しだけ時間をかけて<br>
        音楽と向き合ってみませんか？<br>
      </p>
    </div>
  </div>
</div>
<div class="container mx-auto max-w-4xl px-4">
  <div class="section my-10 p-6 bg-base-100 rounded-lg shadow-md">
    <h2 class="mb-4 text-2xl font-black text-center text-primary">未ログイン時でも使える機能</h2>
    <p class="text-lg text-gray-600">
      ・プレイリスト一覧<br>
      ・プレイリスト詳細<br>
    </p>
  </div>

  <div class="section my-10 p-6 bg-base-100 rounded-lg shadow-md">
    <h2 class="mb-4 text-2xl font-black text-center text-primary">ログイン時の追加機能</h2>
    <p class="text-lg text-gray-600">
      ・リリース（プレイリスト作成）機能<br>
      ・プレイリスト編集<br>
      ・プレイリスト削除<br>
      ・GOOD VIBES（いいね）機能<br>
      ・コメント機能<br>
      ・新着リリース<br>
      ・トレンド<br>
      ・リリースしたプレイリスト一覧<br>
      ・Good Vibes（いいねしたプレイリスト）一覧<br>
      ・マイページ<br>
      ・プロフィール編集<br>
    </p>
  </div>

  <div class="section my-10 p-6 bg-base-100 rounded-lg shadow-md">
    <h2 class="mb-4 text-2xl font-black text-center text-accent">プレイリストをリリースするには？</h2>
    <p class="text-lg text-gray-600">
      1：ヘッダーの"リリース"をクリック<br>
      2: 曲検索フォームにアーティスト名や曲名を入力<br>
      3: 検索結果からプレイリストに追加したい曲の"追加"ボタンをクリック<br>
      4: プレイリストのタイトルやレコメンド文を入力<br>
      5: "RELEASE A PLAYLIST!"ボタンをクリック<br>
    </p>
  </div>

  <div class="flex justify-center">
    <%= link_to 'プレイリスト一覧へ戻る', root_path, class: "btn btn-sm border-primary text-primary bg-white hover:bg-secondary hover:text-white mr-2" %>
    <%= link_to 'プレイリストをリリースする', new_playlist_path, class: "btn btn-sm border-amber-500 text-amber-500 bg-white hover:bg-amber-600 hover:text-white" %>
  </div>
</div>
