<div class="container mx-auto px-4 max-w-4xl text-slate-600">
  <!-- Section共通クラス -->
  <style>
    .section {
      margin: 2.5rem 0;
      padding: 1.5rem;
      border-radius: 0.5rem;
      box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    }
  </style>

  <div class="section">
    <h2 class="text-xl font-bold text-center mb-4">2024/02/14 Wed.</h2>
    <p class="text-lg">
      ✔︎ レコメンド機能"Today's Picks"を実装しました。<br>
    </p>
  </div>

  <div class="section">
    <h2 class="text-xl font-bold text-center mb-4">2024/02/13 Tue.</h2>
    <p class="text-lg">
      ✔︎ レコメンド機能"Trend Picks"を実装しました。<br>
    </p>
  </div>

  <div class="section">
    <h2 class="text-xl font-bold text-center mb-4">2024/01/31 Wed.</h2>
    <p class="text-lg">
      ✔︎ Googleログイン機能を実装しました。<br>
      既にMutroに登録済みのユーザーは、Googleログインを行うことで、既存のアカウントと紐付けることができます。<br>
      ✔︎ Mutroのロゴを作成しました。<br>
      ✔︎ Mutroのファビコンを設定しました。<br>
      ✔︎ MutroのOGPを設定しました。<br>
    </p>
  </div>

  <div class="section">
    <h2 class="text-xl font-bold text-center mb-4">2024/01/25 Thu.</h2>
    <p class="text-lg">
      ✔︎ オートコンプリートで表示された検索候補の選択を上下矢印キーで行えるようにしました。<br>
    </p>
  </div>

  <div class="section">
    <h2 class="text-xl font-bold text-center mb-4">2024/01/24 Wed.</h2>
    <p class="text-lg">
      ✔︎ 曲検索フォームにオートコンプリート機能を追加しました。<br>
      ✔︎ "NEW RELEASES"に表示されるプレイリストを"12時間以内"に変更しました。<br>
    </p>
  </div>

  <div class="section">
    <h2 class="text-xl font-bold text-center mb-4">2024/01/22 Mon.</h2>
    <p class="text-lg text-center">
      🎸 Mutro（ミュトロ）をMVPリリースしました。<br>
    </p>
  </div>

</div>

