<div class="container mx-auto px-4">
  <h1 class="text-xl font-bold text-primary border-b border-primary text-center my-8">My Good Vibes</h1>
  
  <div class="grid grid-cols-1 md:grid-cols-4 gap-4 mb-16">
    <% @good_vibed_playlists.each do |playlist| %>
      <%= render 'playlists/playlist', playlist: playlist %>
    <% end %>
  </div>
</div>

<div class="flex justify-center">
  <%= paginate @good_vibed_playlists %>
</div>
