<div class="container px-4 py-8 mx-auto text-slate-600">
  <div class="flex flex-col items-center mb-8 md:flex-row md:items-start md:space-x-6">
    <div class="flex flex-col items-center">
      <div class="flex items-center justify-center w-24 h-24 mb-4 border-2 border-gray-300 rounded-full">
        Icon
      </div>
      <h1 class="text-2xl font-bold"><%= current_user.name %></h1>
    </div>
    <div class="flex-1 md:ml-6">
      <p class="mb-4 font-bold">About Me</p>
      <div class="p-4 mb-4 bg-slate-100 shadow-lg">
        <% if current_user.bio.present? %>
          <%= simple_format(current_user.bio) %>
        <% else %>
          <p>プロフィール情報はありません。</p>
        <% end %>
      </div>
      <div class="flex flex-col md:flex-row md:items-center">
        <% if user_signed_in? %>
          <%= link_to 'プロフィール編集', edit_user_registration_path, class: 'btn btn-sm btn-outline btn-primary' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
