<% if flash[:notice] %>
  <div class="mx-3 mt-3 mb-4 p-4 text-sm font-bold bg-success rounded-lg" role="alert">
    <%= flash[:notice] %>
  </div>
<% end %>
<% if flash[:alert] %>
  <div class="mx-3 mt-3 mb-4 p-4 text-sm font-bold bg-error rounded-lg" role="alert">
    <%= flash[:alert] %>
  </div>
<% end %>
