<footer class="footer p-10 text-base-content">
  <aside>
    <p class="text-slate-500">Copyright © 2024 - All right reserved by Mutro</p>
  </aside>
  <div class="footer-links flex gap-8 text-slate-600">
    <%= link_to 'お問い合わせ', 'https://forms.gle/BL9XpXKsqMpg4zgJA' %>
    <%= link_to '利用規約', terms_path %> 
    <%= link_to 'プライバシーポリシー', privacy_policy_path %>
    <%= link_to 'アップデート情報', update_info_path %>
  </div>
</footer>
