<span class="page gap px-3 py-2 leading-tight text-gray-500 bg-white border border-gray-300 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400">
  <%= t('views.pagination.truncate').html_safe %>
</span>
