<div class="tracks-list mt-4">
  <h2 class="mb-2 text-lg font-bold text-gray-700">トラック一覧</h2>
  <ul>
    <% @playlist.tracks.each do |track| %>
      <li class="mb-2 flex items-center justify-between rounded bg-gray-100 p-2">
        <span class="text-gray-800"><%= track.title %> - <%= track.artist %></span>
        <%= link_to '削除', playlist_track_path(track.id, playlist_id: @playlist.id), data: { turbo_method: :delete, turbo_confirm: 'この曲を削除しますか？' }, class: "btn btn-error text-white" %>
      </li>
    <% end %>
  </ul>
</div>
