<%= turbo_frame_tag dom_id(track) do %>
  <div class="m-1">
      <iframe src="https://open.spotify.com/embed/track/<%= track.spotify_id %>" width="100%" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
  </div>
<% end %>
