<div id="<%= dom_id(track) %>" class="mb-2 flex items-center justify-start gap-x-4">
  <%= render 'spotify_iframe', track: track %>
  <%= link_to '削除', remove_track_from_playlist_playlists_path(track_id: track.id), method: :delete, data: { turbo_method: :delete, turbo_confirm: '本当にこの曲を削除しますか？' }, class: "btn btn-outline btn-error btn-sm" %>
</div>
