<div class="container mx-auto px-4">
  <h1 class="text-xl font-bold text-center my-8">プレイリスト一覧</h1>
  
  <div class="grid grid-cols-1 md:grid-cols-3 gap-4 mb-16">
    <% @playlists.each do |playlist| %>
      <div class="bg-white shadow-lg rounded-lg p-4 h-full flex flex-col">
        <h2 class="text-center text-lg font-bold mb-2">
          <%= link_to playlist.title, playlist_path(playlist), class: "text-primary hover:text-blue-700" %>
        </h2>
        <p class="text-center text-sm text-gray-600">ユーザー：<%= playlist.user.name %></p>
        <div class="mt-auto">
        </div>
      </div>
    <% end %>
  </div>
</div>

