<div class="container mx-auto px-4">
  <h1 class="my-8 text-center text-xl font-bold text-primary border-b border-primary">今日のレコメンド</h1>

  <div class="mb-16 grid grid-cols-1 gap-4 md:grid-cols-4">
    <% @playlists.each do |playlist| %>
      <%= render 'playlists/playlist', playlist: playlist %>
    <% end %>
  </div>
</div>
